div:nth-child(1){
    align-self: self-start;
}
div:nth-child(2){
    align-self: center;
}
div:nth-child(4){
    align-self: center;
}
div:nth-child(5){
    align-self: self-start;
}
html,
body,
.flex-container
{
    display: flex;
    height: 300px;
    width: 700px;
    flex-direction: row;
    justify-content: space-between;
}
div{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    align-self:flex-end;
    background:#DAA520;
}
