html,
body,
.flex-container
{
    display: flex;
    flex-direction:row;
    height:300px;
    width: 700px;
}
section div{
    height: 100px;
    width: 100px;
    border: 5px solid #DAA520;
    border-radius: 50%;
    background: #DAA520;
    margin: 20px;
}
.item-1{
    align-self:flex-start;
}
.item-2{
    align-self: center;
}
.item-3{
    align-self: flex-end;
}
.item-4{
    align-self:center;
}
.item-5{
    align-self: flex-start;
}